{
  "singleQuote": true,
  "trailingComma": "all",

  "importOrder": ["^@nestjs/(.*)$", "<THIRD_PARTY_MODULES>", "^~/modules/(.*)$", "^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": [
    "typescript",
    "classProperties",
    "decorators-legacy"
  ]
}
